body {
  margin: 0;
  font-family: 'Press Start 2P', monospace;
  background-color: #111;
  color: #0f0;
}

.toolbar {
  background-color: #222;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #0f0;
  border-bottom: 4px solid #0f0;
}


 #board {
  background-color: #000;
  display: block;
  border: 2px solid #0f0;
}



input[type="color"], input[type="range"], button {
  background-color: #000;
  color: #0f0;
  border: 2px solid #0f0;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  padding: 4px;
}

button:hover {
  background-color: #0f0;
  color: #000;
  cursor: pointer;
}
